openapi: 3.0.3
info:
  title: Zenodo REST Access Communities logo API
  description: 'REST API for Zenodo, the free open research data repository operated by CERN and built on InvenioRDM. Provides programmatic access to deposits (draft records), published records, file management, communities, vocabularies, OAI-PMH sets, requests, users, groups, statistics, and audit logs. Every published record receives a DOI for persistent citation. Authenticate with a personal access token passed as a Bearer token.

    '
  version: 12.0.0
  contact:
    name: Zenodo Developer Documentation
    url: https://developers.zenodo.org/
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  x-upstream-spec: https://github.com/inveniosoftware/invenio-openapi
servers:
- url: https://zenodo.org
  description: Zenodo production instance
- url: https://sandbox.zenodo.org
  description: Zenodo sandbox (testing)
security:
- BearerAuth: []
tags:
- name: Communities logo
  description: Community logo management
paths:
  /api/communities/{communityId}/logo:
    get:
      summary: Get community logo
      tags:
      - Communities logo
      operationId: getCommunityLogo
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuth: []
    put:
      summary: Update community logo
      tags:
      - Communities logo
      operationId: updateCommunityLogo
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuth: []
    delete:
      summary: Delete community logo
      tags:
      - Communities logo
      operationId: deleteCommunityLogo
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuth: []
components:
  responses:
    Success:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
    Unauthorized:
      description: Unauthorized - authentication required
    BadRequest:
      description: Bad request - invalid input parameters
    NotFound:
      description: Not found - resource does not exist
    Forbidden:
      description: Forbidden - insufficient permissions
    InternalServerError:
      description: Internal server error
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token issued from the Zenodo account settings
